#hi {
    text-align: center;
    margin: auto;
}

#hi img {
    width: 25%;
    height: 75%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}


nav {
    height: 250px;
    background-color: #DFFBFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: #002241;
}

nav img {
    height: 100%;
}


h1 {
    margin-left: 5%;
    margin-top: 5%;
    color: #002241;
}


#welcome {
    display: flex;
    justify-content: space-evenly;
    margin-inline: 5%;
    margin-bottom: 5%;
}

#welcome img {
    height: 300px;
    margin-inline: 5%;
}


footer {
    text-align: center;
}